# Python
__pycache__/
*.pyc

# venv
venv/
.python-selenium-venv/
.env/

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

git add main.py
git commit -m "Add main.py"
git push -u origin master

# 로그와 캡처 저장
logs/
screenshots/
*.log
*.png